<div class="detailsContainer">
 
<div class="spotNameDetails">
  <h1>
    <%=spotDetails.beach.spotName%> 
  </h1>
  </div>

  <div class="detailsSurf"> 
    
    <div class="spotDetailsMax">
      <p class="spotDetailsText">
        <%=spotDetails.max%> 
        max
      </p>
      <p>Wave size</p>
    </div>
    
    <div class="spotDetailsMin">
      <p class="spotDetailsText">
        <%=spotDetails.min%> 
        min
      </p>
      <p>Wave size</p>
    </div>

    <div class="humanRelation">
      <p class="humanRelationText">
        <%=spotDetails.humanRelation%> 
      </p>
      <p> Human Relation</p>
    </div>

  </div>
  
  <div class="spotDescription">
    <h3> About:</h3>
    <p>
      <%=spotDetails.beach.spotDescription%> 
    </p>
  </div>
  

  <div>
    <form method="POST" action="/forecast-detail/<%=spotDetails.beach.spotId%>">
      <button  type="submit">
    </form>
    
  Add to Favorites
    </button>
  </div>
</div>