<div class="detailsContainer">
 
<div class="spotNameDetails">
  <h1>
    <%=spotDetails.beach.spotName%> 
  </h1>
  </div>

  <div class="detailsSurf"> 
    <div class="humanRelation">
      <p class="humanRelationText">
        Human Relation:
        <%=spotDetails.humanRelation%> 
      </p>
    </div>
    
    <div class="spotDetailsMax">
      <p>
        <%=spotDetails.max%> 
        max
      </p>
    </div>
    
    <div class="spotDetailsMin">
      <p>
        <%=spotDetails.min%> 
        min
      </p>
    </div>
  </div>
  
  <div class="spotDescription">
    <p>
      <%=spotDetails.beach.spotDescription%> 
    </p>
  </div>
  

  <div>
    <form method="POST" action="/forecast-detail/<%=spotDetails.beach.spotId%>">
      <button  type="submit">
    </form>
    
  Add to Favorites
    </button>
  </div>
</div>